.about__title {
  font-size: $font-stwofive;
  line-height: $linehthreezero;
  font-weight: $boldw;

  color: $black;

}

.about__list {
  list-style: none;
}

.about__item {
  font-size: $font-soneseven;
  line-height: $linehtwozero;
  font-weight: $boldw;

  color: $black;
}
