.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  color: $black;

}

.about__list {
  list-style: none;
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  color: $black;
}
