.catalog__title {
  font-size: $font-twoseven;
  line-height: $linehthreezero;
  font-weight: $boldw;
  color: $black;
  background-color: $graylighter;
}

.catalog__list {
  list-style: none;
}

.catalog__item-link {
  font-size: $font-soneseven;
  line-height: $linehtwofour;
  font-weight: $boldw;
  color: $black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


.catalog__item-text {
  font-size: $font-sonethree;
  line-height: $linehthreezero;
  font-weight: $regw;
  color: $darkgray;
}

.catalog__item-value {
  font-size: $font-sonefive;
  line-height: $linehtwofour;
  font-weight: $boldw;
  color: $black;
}

