.contacts__title {
  font-size: $font-soneeight;
  line-height: $linehthreezero;
  font-weight: $boldw;

  color: $black;
}

.contacts__email {
  color: $darkgray;
  border-bottom: $onepx solid $borderhovfoc;

  &:hover,
  &:focus {
    color: $toyshovfocus;
    border-bottom: $onepx solid $borderhovfoc;
  }

  &:active {
    color: rgba($toyshovfocus, 0.3);
    border-bottom: $onepx solid rgba($toyshovfocus, 0.3);
  }
}

.contacts__write {
  font-size: $font-soneeight;
  line-height: $linehtwozero;
  font-weight: $boldw;
  text-transform: uppercase;
  color: $darkgray;

  border: $twopx solid $darkgray;
  background-color: $white;

  &:hover,
  &:focus {
    color: $white;

    border: $twopx solid $darkgray;
    background-color: $darkgray;
  }

  &:active {
    color: $gray;
  }
}
