.content__title {
  font-size: $font-soneseven;
  line-height: $linehtwofour;
  font-weight: $boldw;
  color: $black;
}

.content__text {
  font-size: $font-sonethree;
  line-height: $linehtwofour;
  font-weight: $regw;
  color: $darkgray;
}

.content__button {
  font-size: $font-soneseven;
  line-height: $linehonesix;
  font-weight: $boldw;
  text-transform: uppercase;
  color: $darkgray;

  border: $twopx solid $darkgray;
  background-color: $white;

  &:hover,
  &:focus {
    color: $white;

    border: $twopx solid $darkgray;
    background-color: $darkgray;
  }

  &:active {
    color: $gray;
  }
}
