.featured__title {
  font-size: $font-stwofive;
  line-height: $linehthreezero;
  font-weight: $boldw;
  color: $black;
}


.featured__weekly {
  font-size: $font-soneseven;
  line-height: $linehtwozero;
  font-weight: $boldw;
  text-transform: uppercase;
  color: $weekly-color;
}

.featured__description {
  font-size: $font-sonefive;
  line-height: $linehtwofour;
  font-weight: $regw;
  color: $darkgray;
}

.featured__value {
  font-size: $font-soneseven;
  line-height: $linehtwofour;
  font-weight: $boldw;
  color: $darkgray;

}


.featured__info {
  font-size: $font-sonefive;
  line-height: $linehtwozero;
  font-weight: $regw;
  color: $darkgray;
}

.featured__field {
  font-size: $font-sonefive;
  line-height: $linehtwozero;
  font-weight: $regw;
  color: $darkgray;
}

.featured__order {
  font-size: $font-soneseven;
  line-height: $linehtwozero;
  font-weight: $boldw;
  color: $darkgray;

  border: $twopx solid $darkgray;
  background-color: $white;

  &:hover,
  &:focus {
    color: $white;

    border: $twopx solid $darkgray;
    background-color: $darkgray;
  }

  &:active {
    color: $gray;
  }
}
