.form__title {
  font-size: $font-twoseven;
  line-height: $linehthreezero;
  font-weight: $boldw;
  color: $formtitlecolor;
  background-color: $graylighter;
}

.form__text {
  font-size: $font-sonethree;
  line-height: $linehtwofour;
  font-weight: $regw;
  color: $darkgray;
}

.form__list {
  list-style: none;
}

.form__filter-name {
  font-size: $font-soneseven;
  line-height: $linehonesix;
  font-weight: $boldw;
  text-transform: uppercase;
  color: $interiorcolor;
}

.form__item-label {
  font-size: $font-soneseven;
  line-height: $linehoneeight;
  font-weight: $boldw;
  color: $black;
}

.filter__input {
  font-size: $font-soneseven;
  line-height: $linehoneeight;
  font-weight: $regw;
  color: $darkgray;
  border: none;
  border-bottom: $twopx solid $black;

  &:hover,
  &:focus {
    border-color: $borderhovfoc;
  }
}

.form__textarea {
  font-size: $font-soneseven;
  line-height: $linehoneeight;
  font-weight: $regw;
  box-sizing: border-box;
  border: $twopx solid $black;

  &:hover,
  &:focus {
    border-color: $borderhovfoc;
  }
}

.form__button{
  font-size: $font-soneseven;
  line-height: $linehonesix;
  font-weight: $boldw;
  color: $darkgray;

  border: $twopx solid $darkgray;
  background-color: $white;

  &:hover,
  &:focus {
    color: $white;

    border: $twopx solid $darkgray;
    background-color: $darkgray;
  }

  &:active {
    color: $gray;
  }
}

.form__name-list {
  list-style: none;
}

.form__phone-list {
  list-style: none;
}

.form__email-list {
  list-style: none;
}

.form__comment-list {
  list-style: none;
}
