.form__title {
  font-size: $font-twoseven;
  line-height: $linehthreezero;
  font-weight: $boldw;
  color: $formtitlecolor;
  background-color: $graylighter;
}

.form__text {
  font-size: $font-sonethree;
  line-height: $linehtwofour;
  font-weight: $regw;
  color: $darkgray;
}
