.modal__title {
  font-size: $font-stwofive;
  line-height: $linehthreezero;
  font-weight: $boldw;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.modal__text {
  font-size: $font-sonefive;
  line-height: $linehthreezero;
  font-weight: $regw;
  color: $midgray;
}

.modal__list {
  text-align: center;
  list-style: none;
}

.modal__item {
  font-size: $font-soneseven;
  line-height: $linehonesix;
  font-weight: $boldw;
  color: $darkgray;
}

.modal__button {
  font-family: $font-stack;
  font-size: $font-soneseven;
  line-height: $linehonesix;
  font-weight: $boldw;
  color: $white;

  border: $twopx solid $interiorcolor;
  background-color: $interiorcolor;

  &:hover,
  &:focus {
    color: $white;

    border: $twopx solid $interiorcolor;
    background-color: $interiorcolor;
}

  &:active {
    color: rgba($white, 0.3);
}

}
