.page-footer {
  background-color: $graylighter;
}

.social__list {
  list-style: none;
}


.copyright__text {
  font-size: $font-sonenine;
  line-height: $linehoneeight;
  font-weight: $boldw;
  color: $black;
}
