.site-list {
  list-style: none;
}

.site-list__item {
  font-size: $font-soneseven;
  line-height: $linehtwofour;
  font-weight: $boldw;

  color: $black;

  border-bottom: $onepx solid $lightgray;
}

.site-list__link {
  font-size: $font-soneseven;
  line-height: $linehtwofour;
  font-weight: $boldw;
  color: $black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}
