.user-list {
  list-style: none;
}

.user-list__item {
  border-bottom: 1px solid $lightgray;
}

.user-list__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
