$black: #000000;
$white: #ffffff;
$lightgray: #ececec;
$darkgray: #444444;
$gray: #8d8d8d;
$midgray: #767676;
$graylighter: #f1f1f1;
$weekly-color: #63d1bb;
$weeklyprice-color: #444444;
$weeklyorder-color: #444444;
$weeklytext: #a8a8a8;
$modaltitlecolor: #000000;
$modalsizecolor: #444444;
$modaltextcolor: #767676;
$interiorcolor: #63d1bb;
$toyscolor: #56c3b2;
$productslink: #59d5bc;
$toyshovfocus: #46c1ae;

$formtitlecolor: #231f20;
$borderhovfoc: #62d1ba;

$modaltitlesize: 25px;
$modallineheight: 30px;
$modalweight: 700;
$sitelistfontsize: 17px;
$sitelistlinehight: 24px;
$sitelistweight: 700;

$boldw: 700;
$regw: 400;

$font-sonethree: 13px;
$font-sonefive: 15px;
$font-soneseven: 17px;
$font-soneeight: 18px;
$font-sonenine: 19px;
$font-stwofive: 25px;
$font-twoseven: 27px;


$linehthreezero: 30px;
$linehtwofour: 24px;
$linehtwozero: 20px;
$linehoneeight: 18px;
$linehonesix: 16px;


$minuspx: -1px;
$onepx: 1px;
$twopx: 2px;



$font-stack: "Open Sans", "Arial", sans-serif;
