$black: #000000;
$white: #ffffff;

$weekly-color: #63d1bb;
$weeklyprice-color: #444444;
$weeklyorder-color: #444444;
$weeklytext: #a8a8a8;

$modaltitlecolor: #000000;
$modalsizecolor: #444444;
$modaltextcolor: #767676;
$modaltitlesize: 25px;
$modallineheight: 30px;
$modalweight: 700;

$sitelistfontsize: 17px;
$sitelistlinehight: 24px;
$sitelistweight: 700;

$interiorcolor: #63d1bb;
$toyscolor: #56c3b2;

$font-stack: 'Open Sans', 'Arial', sans-serif;
