$black: #000000;
$white: #ffffff;
$lightgray: #ececec;
$darkgray: #444444;
$gray: #8d8d8d;
$midgray: #767676;
$graylighter: #f1f1f1;
$weekly-color: #63d1bb;
$weeklyprice-color: #444444;
$weeklyorder-color: #444444;
$weeklytext: #a8a8a8;
$modaltitlecolor: #000000;
$modalsizecolor: #444444;
$modaltextcolor: #767676;
$interiorcolor: #63d1bb;
$toyscolor: #56c3b2;
$productslink: #59d5bc;
$toyshovfocus: #46c1ae;

$formtitlecolor: #231f20;
$borderhovfoc: #62d1ba;


$font-stack: "Open Sans", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1150px;
